<div class="synth-wrapper">
    <div class="wave-selector" audio-ctrl="">
        <div class="slider clearfix">
            <span class="pull-left">Select the wave type:</span>
            <select name="" id="wavetype" class="pull-right">
                <option value="0">Sine</option>
                <option value="1">Square</option>
                <option value="2">Sawtooth</option>
                <option value="3">Triangle</option>
            </select>
        </div>
        <div class="slider clearfix">
            <span class="pull-left">Cutoff</span>
            <span class="pull-right">{{freq | number:0}}f</span>
            <input class="pull-right" type="range" min="0" max="1" step=".05" value=".7" ng-model="slider.cutoff" id="cutoff-freq">
        </div>
        <div class="slider clearfix">
            <span class="pull-left">Resonance</span>
             <span class="pull-right">{{q | number:0}}db</span>
            <input class="pull-right" type="range" min="0" max="1" step=".01" value=".4" ng-model="slider.resonance" id="filter-q">
        </div>
    </div>
    <div id="keyboard" keyboard="" class="clearfix">
        <div class="white-keys key" data-note="C">
            <div class="black-keys key" data-note="C#"></div>
        </div>
        <div class="white-keys key" data-note="D">
            <div class="black-keys key" data-note="D#"></div>
        </div>
        <div class="white-keys key" data-note="E"></div>
        <div class="white-keys key" data-note="F">
            <div class="black-keys key" data-note="F#"></div>
        </div>
        <div class="white-keys key" data-note="G">
            <div class="black-keys key" data-note="G#"></div>
        </div>
        <div class="white-keys key" data-note="A">
            <div class="black-keys key" data-note="A#"></div>
        </div>
        <div class="white-keys key" data-note="B"></div>
    </div>
</div>